{% vue Counter %}
    <h1>Counter</h1>
    {% if true %}
        {% for i in 1..5 %}
            <p>{% mask %}...{% then %}{ count }{% endmask %}</p>
        {% endfor %}
    {% endif %}
    <div>
        <button @click="dec" type="button">-</button>
        <button @click="inc" type="button">+</button>
    </div>
    {% block javascript %}
    import phosphor from '@hazadam/phosphor-js';
    import {ref} from '@vue/reactivity';
    export default phosphor({
        name: 'Counter',
        props: ['initialCount'],
        setup: function(props) {
            const count = ref(props.initialCount || 0);
            const dec = () => count.value--;
            const inc = () => count.value++;
            return {count, dec, inc};
        }
    });
    {% endblock %}
{% endvue %}
